{% extends 'base1.html' %}

{% load static %}

{% block header %}
  <header class="civ text-center text-white">
    <div class="">
      <div class="container">
        <h1 class="mb-0">Abogado y bufete de abogados</h1>
        <h2 class="ng mb-0">Estudio jurídico Ferrari-Mundet</h2>
        
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>
{% endblock header %}

{% block content %}
Pagina de civil y comercial
{% endblock content %}